
.favourtie-connection-details-label {
    font-size: 10px;
}

.favourite-box {
    padding: 1px; /* doesn't make the favourite item boxes huge */
}
  
.custom-button {
    /* border-radius: 2px;
    padding: .1em 1.5em;
}  */
    border-radius: 2px;
    padding-right: .8em;
    padding-left: .8em;
} 
 
.item-button {
    border-radius: 2px;
    padding-right: .8em;
    padding-left: .8em;
} 

.header-button {
    border-width: 0px;
    padding: 1px .3em 1px .3em;
    margin-left: 1px;
} 

.error-message {
    color: red;
}

.deactivated-checkbox {
    color: gray;
}

.warning-label {
    border: 1px rgb(36, 36, 36);
    border-radius: 5px;
    font-weight: bold;
    padding: .8em;
    margin: 12px 4px 10px 4px;
    background-color: #215d9c;
}

.info-label {
    border: 1px rgb(36, 36, 36);
    border-radius: 5px;
    padding: .8em;
    color:  rgb(36, 36, 36);
    margin: 12px 4px 10px 4px;
    background-color: #53a6ff;
}

.nmap-panel {
    padding-top: 15px;
}

.favourites-panel {
    padding-top: 15px;
}

.margin-left {
    margin-left: 10px;
}

.margin-right {
    margin-right: 10px;
}

.listbox-top-margin {
    margin-top: 10px;
}

.margin-top {
    margin-top: 10px;
}

.folder-name {
    font-style: italic;
    color: #68b1ff;
}

.deleted-label {
    font-style: italic;
    color: rgb(173, 0, 0);
}