
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.favourtie-connection-details-label {
    font-size: 10px;
}

.favourite-box {
    padding: 1px; /* doesn't make the favourite item boxes huge */
}
