
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.favourtie-connection-details-label {
    font-size: 10px;
}

.favourite-box {
    padding: 1px; /* doesn't make the favourite item boxes huge */
}
  
.custom-button {
    /* border-radius: 2px;
    padding: .1em 1.5em;
}  */
    border-radius: 2px;
    padding-right: .8em;
    padding-left: .8em;
} 
 
.item-button {
    border-radius: 2px;
    padding-right: .8em;
    padding-left: .8em;
} 

.header-button {
    border-width: 0px;
    padding: 1px .3em 1px .3em;
    margin-left: 1px;
} 